*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
}
.hamburger{
    width:5rem;
    height:5rem;
    border-radius: 70%;
    background-color:rgb(166, 201, 221);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.hamburger div{
    width:2.5rem;
    height:0.35rem;
    background-color: black;
}
/* x shape */
.hamburger:hover div:nth-child(1){
transform: rotate(-45deg) translate(0,0.5rem);
}
.hamburger:hover div:nth-child(2){
    display:none;
}
.hamburger:hover div:nth-child(3){
    transform: rotate(45deg) translate(-0.7rem,-1.2rem);
}
/* minus shape */
.minus:hover div:nth-child(1),.minus:hover div:nth-child(3){
    display:none;
}
.minus:hover div:nth-child(2){
    display:block;
}
/* right arrow */
.rightarrow:hover div:nth-child(1){
transform:rotate(30deg)  translate(0.9rem,0.3rem) ;
    width:1.5rem;
}
.rightarrow:hover div:nth-child(2){
    display:block;
}
.rightarrow:hover div:nth-child(3){
    transform:rotate(-30deg)  translate(0.9rem,-0.3rem) ;
    width:1.5rem;
}
/* left arrow */
.leftarrow:hover div:nth-child(1){
    transform:rotate(-30deg)  translate(-0.9rem,0.3rem) ;
        width:1.5rem;
    }